.capital
  .title In #{@city} you could live in one of those flats
  .flats
    - @properties.each do |p|
      .flat
        .size #{p[:size]}-bedroom (&pound; #{p[:price]})
        .image
          %a{:href => p[:url], :target => '_blank'}
            %img{:src => p[:image]}
