#welcome
  %h1 Is Your Rent Fair?
  %h2 Find out what you could get today for your money
  %h2 See what you could rent in Europe within this budget
#property-details
  %form#search-form
    #postcode    
      %input{:placeholder => 'Postcode'}
    #size
      %select{:size => 3}
        %option{:value => "0"} Studio
        %option{:value => "1", :selected => 'selected'} 1-bedroom flat
        %option{:value => "2"} 2-bedroom flat
        %option{:value => "3"} 3-bedroom flat
        %option{:value => "4"} 4-bedroom flat
    #price
      %input{:placeholder => 'Weekly rent (&pound;)'}
    #compare
      %button Compare my rent
#fair-result
#berlin