!!!5
%head
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %script{:src => " https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", :language => "javascript"}
  %script{:src => "/javascripts/application.js", :language => "javascript"}
  %title Find out how your rent compares
%body
  = yield