!!!
%head
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %script{:src => " https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
  %script{:src => "/javascripts/jquery.validate.js"}
  %script{:src => "/javascripts/application.js"}
  %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
  %title Find out how your rent compares
%body
  #header
  = yield
  #footer
    2011 &copy;
    %a{:href => 'http:/www.forward.co.uk/'} Forward.co.uk
    %br
    Built by
    %a{:href => 'http://www.github.com/andrew'} teabass
    and
    %a{:href => 'http://www.github.com/shadchnev'} shadchnev
    %br
    %br
    %a{:href => "http://www.zoopla.co.uk/"}<>
      %img{:alt => "Property information powered by Zoopla", :border => "0", :height => "54", :src => "http://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla.png", :title => "Property information powered by Zoopla", :width => "111"}/
    &nbsp;&nbsp;
    %a{:href => "http://www.nestoria.co.uk/"}<>
      %img{:alt => "Property information abroad provided by Nestoria", :border => "0", :height => "55", :src => "http://2.s.uk.nestoria.nestimg.com/i/realestate/all/all/nestoria_small2.png", :title => "Property information abroad provided by Nestoria", :width => "295"}/

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22152731-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


