%div
  - if @average
    Average rent in your area is &pound;
    = @average
    per week.
    - if @difference != 0
      Your property is
      = "#{@difference.abs}%"
      = (@difference < 0) ? 'more' : 'less'
      expensive than similar flats in the area
    - else
      You pay the same rent as your neighbours
  - else
    Sorry, we don't have enough data for your area
    