@import 'reset'

$dark_blue: #2D354D
$blue: #586998
$light_blue: #C5CEE5
$cream: #EAEAEA
$black: #333

html,body
  font-family: 'Helvetica Neue',arial,helvetica,sans-serif
  background-color: $cream
  margin: 0
  padding: 0

h1
  font-size: 250%
  margin: 0 0 15px
h2
  font-size: 150%
  margin-bottom: 10px

header
  height: 20px
  background-color: $dark_blue

#welcome
  color: $cream
  background-color: $blue
  padding: 20px 0
  text-align: center

#property-details
  background-color: $light_blue
  form
    width: 300px
    padding: 5px 0
    margin: 5px auto
    input, select
      display: block
      padding: 2px 0
      margin: 5px 0
      width: 100%
      font-size: 20px
      text-align: center

#similar
  background-color: white
  border-top: 1px solid $dark_blue
  border-bottom: 1px solid $dark_blue
  padding: 10px 0
  font-weight: bold
  font-size: 18px
  text-align: center

footer
  margin: 5px 0
  background-color: $cream
  color: $black
  font-size: 80%
  text-align: center